@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.navbar-background {
    width: 100%;
    background-color: #00000099;
    display: flex;
    justify-content: space-between;
    color: white;
}